* {
  box-sizing: border-box;
}

//---レビュー画面---//
.wrapper {
  display: flex;
//サイド側
  .side-bar {
    background-color: #253141;
    height: 100vh;
    width: 300px;
    color: $white-color;
    font: bold;
    &__user-name {
      height: 100px;
      display: flex;
//名前表示
      .top-items {
        @include margin-RL-20px();
        @include flex-betweenspace();
        background-color: $black-color;
        width: 260px;
        height: 20px;
        align-self: center;
        &__name {
          line-height: 20px;
          font-size: 16px;
        }
        &__icon {
          width: 60px;
          line-height: 20px;
          display: block;
          text-align: right;
          &--edit {
            @include icon-white();
          }
          &--cog {
            @include icon-white();
            margin-left: 5px;
          }
        }
      }
    }
//グループ表示
    &__group-list {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      &__number {
        height: calc(20px + 15px + 5px + 11px + 40px);
        a {
          text-decoration: none;
        }
        &__text1 {
          @include margin-RL-20px();
          margin-bottom: 5px;
          padding-top: 20px;
          font-size: 15px;
        }
        &__text2 {
          @include margin-RL-20px();
          font-size: 11px;
        }
      }
    }
  }

//メイン側
  .chat-main {
    background-color: $white-color;
    height: 100vh;
    width: calc(100vw - 300px);
//ヘッダー表示
    &__group{
      @include flex-betweenspace();
    }
    &__group-info {
      height: 100px;
      &__text1 {
        padding-top: 35px;
        margin-left: 40px;
        color: $black-color;
        font-size: 20px;
      }
      &__text2 {
        margin-top: 15px;
        margin-left: 40px;
        color: $gray-color;
        font-size: 12px;
      }
      &__edit-btn {
        @include btn-style();
        color: $skyblue-color;
        margin-right: 40px;
        margin-top: 28px;
      }
    }
//チャット表示
    &__message {
      display: block;
      margin-top: 35px;
      margin-bottom: 46px;
    }
    &__message-list {
      background-color: #fafafa;
      height: calc(100vh - 100px - 90px);
      border: solid 1px;
      border-color: #eeeeee;
      padding-left: 40px;
      overflow: scroll;
      &__text1 {
        display: flex;
        &__name {
          color: $black-color;
          font-size: 16px;
          line-height: 16px;
        }
        &__date {
          color: $gray-color;
          margin-left: 10px;
          font-size: 12px;
        }
      }
      &__text2 {
        color: #434A54;
        margin-top: 12px;
        font-size: 14px;
      }
    }
//投稿フォーム表示
    &__message-form{
      background-color: #d2d2d2;
      height: 90px;
      position: relative;
      .input-text {
        display: inline-block;
        width: 100%;
        height: 90px;
        padding-top: 20px;
        padding-left: 40px;
        padding-right: calc(40px + 82px + 15px);
        padding-bottom: 20px;
        display: flex;
        justify-content: flex-end;
      }
      &__text {
        display: block;
        width: 100%;
        line-height: 50px;
      }
      &__icon {
        position: absolute;
        i {
          display: block;
          margin-right: 10px;
          line-height: 50px;
        }
        input {//ファイル投稿フォームを非表示にする
          display: none;
        }
      }
      &__send-btn {
        @include btn-style();
        background-color: $skyblue-color;
        position: absolute;
        color: $white-color;
        right: 40px;
        top: 28px;
      }
    }
  }
}